      <footer class="mt-auto">
        <div class="inner">
          <a class="nav-item" href="https://github.com/m-o-k-a" target="_blank">2020 - Eddy Ikhlef</a>
        </div>
        <div class="lang">
        	<a class="lang-item" href="#"><img class="social-image" src="/flag/en.png" alt="Use the english version"></a>
        	<a class="lang-item" href="#"><img class="social-image" src="/flag/fr.png" alt="Utiliser la version française"></a>
        	<a class="lang-item" href="#"><img class="social-image" src="/flag/zh.png" alt="使用中文版"></a>
    	</div>
      </footer>
    </div>
  </body>
</html>