{{>header}}
        <a class="nav-item" onclick="printCV();">Telecharger [Version Academique]</a>
        <a class="nav-item" onclick="printCVShort();">Telecharger [Version Classique]</a>
        <a class="nav-item" onclick="printCVReallyShort();">Telecharger [Version Courte]</a>
        <br>
        <div id="cv">
        <div class="white-page text-left">
          <div class="row header-cv">
            <div class="col w-75">
              <div class="row">
                <h4 class="pt-1 pl-5" hidden>POSITION</h4>
              </div>
              <div class="row">
                <h6 class="pl-5" hidden>NAME</h6>
              </div>
              <div class="row">
                <img class="stick-to-bottom cv-image pl-3" src="/social/face.png">
              </div>
            </div>
            <div class="col w-75 text-right pt-5 pr-5 pl-5">
                <h2>IKHLEF EDDY</h2>
                <p>Etudiant en Master d'Informatique - Développeur</p>
                <br>
                <p class="mb-0">eddy.galdon@gmail.com<br>www.linkedin.com/in/eddy-ikhlef/<br>www.eddy-ikhlef.glitch.me<br>www.github.com/m-o-k-a<hr class="p-0 m-0">+33 7 86 96 28 89<br>10/08/2000</p>
            </div>
          </div>
          <h3>Profil</h3>
          <hr>
<!--          jeune étudiant en informatique à l'université d'Aix-Marseille, je suis passionné d'informatique depuis le plus jeune âge et j'aspire à m'orienter dans les domaines de <u>l'ingénierie des logiciels et des données</u>.<br>J'ai appris la programmation en autodidacte à partir du collège.<br>Passionné par l'Asie, j'apprends sérieusement le Mandarin (HSK2/3) et ai quelques connaissances en Japonais, Vietnamien et Coréen.<br>
          Dynamique, sérieux et à l'écoute, je suis toujours prêt à m'adapter et à relever des défis.-->
            <span>Passioné d'Informatique et des cultures du monde, autodidacte en apprentissage de langues (Chinois, Allemand)<br>Réfléchi, persévérant, sérieux et à l'écoute, prêt à relever tout type de défis.</span>
          <br>
          <h3>Formation</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Master Informatique - Parcours Ingénierie du développement logiciel</b> 2021-2023</li>
                  <details open>
                    <summary>Première année</summary>
					<p class="details">
						Génie Logiciel / Science des données / Programmation objet concurrente / Réseaux (couches basses) / Algorithme linéaires / Compléxité et np-complétude : ...<br>
		                  <b>Projets : <br>
		                  - Génie Logiciel : Réalisation d'un système controle commande d'un ascenseur et interface de simulation / Réalisation d'un moteur de jeu basique et mise en place d'un jeu pacman <br>
		                  - Réseaux : Réalisaiton de la mise en place d'un réseau de communication entre machines du même réseau<br>
		                  </b></p>
                  </details>
                  <div class="Simple" hidden="true">
                    <small class="mb-0 pb-0">
                      <i>[Contenu de la première année]</i><br>
                      <u>Programmation:</u> Python Panda et SciKitLearn, Java, Java EE, C, C++, Post-relationnel<br>
                      <u>Théorie:</u> Réseaux, Recherche opérationnelle, Compléxite et NP-complétude<br>
                      <u>Maths:</u> Algèbre Linéaire, Logique, Probabilités, Data Sciences<br>
                      <u>Autres:</u> Sécurité et architectures des applications, Fiabilité et Génie logiciel, Interface Homme Machine<br>
                      <u>Projets:</u> <br>
						- Génie Logiciel : Réalisation d'un système controle commande d'un ascenseur et interface de simulation / Réalisation d'un moteur de jeu basique et mise en place d'un jeu pacman <br>
		                - Réseaux : Réalisaiton de la mise en place d'un réseau de communication entre machines du même réseau <br>
                  		- Interface Homme-Machine : Réalisation d'une application de visualisation de données matrixielles (sous forme de table ou d'image) et ajout de filtres sur ces données en C++ et Qt <br>
		                - JEE : Réalisation d'une web app Annuaire de personnes
                    </small>
                  </div>
              </div>
              <div class="col text-right">
                <b>Université d'Aix-Marseille</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Licence en Informatique</b> 2018-2021</li>
                <details open>
                  <summary>Troisième année</summary>
                  <p class="details">Conception / Bases de données Approfondissement (Oracle SQL) / Systèmes d'exploitation / Compilation / Applications réseaux / Application web (Angular) / Modélisation algorithmique / Algorithmique 2 / ... <br>
                  <b>Projets : <br>
                  - APP WEB : Réalisation d’un jeu de dame en ligne avec Angular<br>
                  - Réseaux : Réalisation d'un serveur/fédération et de clients pour le transfert de fichiers
                  </b></p>
                </details>
                <details open>
                  <summary>Deuxième année</summary>
                  <p class="details">Programmation 2 (Java) / Bases de données (Oracle SQL) / Architecture des ordinateurs / Probabilités / Initiation Génie Logiciel / Programmation C / Web (Front-end et Back-end) / Algorithmique 1 / ...
                  <br>
                  <b>Projets : <br>
                  - Génie Logiciel : Logiciel de syndication d’articles scientifiques utilisant l’API de ArxivOrg <br>
                  - WEB : Réalisation d’un site Twitter-like sur le thème « Rendre le monde meilleur » 
                  </b></p>
                </details>
                <details open>
                  <summary>Première année</summary>
                  <p class="details">Intro à l'informatique (Python) / Mise en œuvre informatique (théorie) / Programmation 1 (Java) / Fonctionnement des ordinateurs / Algèbre linéaire / ...</p>
                </details>
                <div class="Simple" hidden="true">
                  <small class="mb-0 pb-0">
                    <u>Programmation:</u> Python, Java, C, Full-Stack Web, SQL (Oracle, sqlite), ASM ARM et x86<br>
                    <u>Théorie:</u> Fonctionnement et architectures des ordinateurs, Compilation, Algorithmiques avancées, Réseaux<br>
                    <u>Maths:</u> Algèbre Linéaire, Probabilités, Calculabilité, Logique<br>
                    <u>Projets:</u> <br>
                    - APP WEB : Réalisation d’un jeu de dame en ligne avec Angular<br>
                    - Réseaux : Réalisation d'un serveur/fédération et de clients pour le transfert de fichiers <br>
                    - Génie Logiciel : Logiciel de syndication d’articles scientifiques utilisant l’API de ArxivOrg <br>
                    - WEB : Réalisation d’un site Twitter-like sur le thème « Rendre le monde meilleur » 
                  </small>
                </div>
                <i>obtenu avec mention bien</i>
              </div>
              <div class="col text-right">
                <b>Université d'Aix-Marseille</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Baccalauréat</b> 2018</li>
                <i>section scientifique, specialité maths, option biologie</i><br>
                <i>obtenu avec mention assez bien</i>
              </div>
              <div class="col text-right">
                <b>Lycée Privé Sévigné – Marseille (Académie d'Aix-Marseille)</b>
              </div>
            </div>
          </ul>

          <br>

          <h3>Stages</h3>
          <hr>
          <ul>
			<div class="row">
              <div class="col">
                <li><b>Développeur Full Stack Web Mobile Stagiaire</b> 25/04/2022-31/07/2022</li>
                <i>
                  Pris part au développement d'un projet interne en React.js et React Native.
                </i>
              </div>
              <div class="col text-right">
                  <b>Légimétrie - Marseille</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Développeur Full Stack Web Stagiaire</b> 19/04/2021-02/07/2021</li>
                <i>
                  Développement d'une interface web collaborative qui permettra aux utilisateurs de l’équipe de consulter/annoter des articles stockés dans la base afin d'optimiser le travail de veille scientifique. A également travaillé sur des améliorations sur p2cr, p2cf, genobrowser. 
                </i>
              </div>
              <div class="col text-right">
                  <b>CEA Cadarache - Saint-Paul-lez-Durance</b>
              </div>
            </div>
            <br>
            <!--
            <div class="row">
              <div class="col">
                <li><b>Stage de Seconde</b> 06/2017-06/2017</li>
                <i>Stage dans le département informatique de l'entreprise mais aussi dans les autres divers departements.</i>
              </div>
              <div class="col text-right">
                <b>Vialtis - Aix-en-Provence</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Stage de Troisième</b> 06/2016-07/2016</li>
                <i>Développer un prototype de site web pour le cabinet d'avocats, en plus d'en apprendre d'avantage sur la loi.</i>
              </div>
              <div class="col text-right">
                  <b>DELTIN-MANSOURI cabinet d'avocats - Marseille</b>
              </div>
            </div>
            <br>
        	-->
          </ul>

          <br>
          <div class="row">
            <div class="col">
              <h3>Compétences</h3>
              <hr>
              <u><b>Front-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="HTML">
                    <img class="img-fluid" src="/skills/html.png" alt="HTML" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="CSS">
                    <img class="img-fluid" src="/skills/css.png" alt="CSS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JS">
                    <img class="img-fluid" src="/skills/js.png" alt="JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="BOOTSTRAP">
                    <img class="img-fluid" src="/skills/bootstrap.png" alt="BOOTSTRAP" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="FLUTTER">
                    <img class="img-fluid" src="/skills/flutter.png" alt="FLUTTER" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA FX">
                    <img class="img-fluid" src="/skills/javafx.png" alt="JAVA FX" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="ANGULAR">
                    <img class="img-fluid" src="/skills/angular.png" alt="ANGULAR" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="REACT">
                    <img class="img-fluid" src="/skills/react.png" alt="REACT" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="REACT-NATIVE">
                    <img class="img-fluid" src="/skills/react-native.png" alt="REACT-NATIVE" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="Qt">
                    <img class="img-fluid" src="/skills/qt.png" alt="Qt" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Back-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA">
                    <img class="img-fluid" src="/skills/java.png" alt="JAVA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="KOTLIN">
                    <img class="img-fluid" src="/skills/kotlin.png" alt="KOTLIN" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="PYTHON">
                    <img class="img-fluid" src="/skills/python.png" alt="PYTHON" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="SQL">
                    <img class="img-fluid" src="/skills/sql.png" alt="SQL" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="NODE.JS">
                    <img class="img-fluid" src="/skills/nodejs.png" alt="NODE.JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="C">
                    <img class="img-fluid" src="/skills/c.png" alt="C" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="C++">
                    <img class="img-fluid" src="/skills/c++.png" alt="C++" style="height: 3rem;">
                  </span>
                </div>
                <!--
                <div class="col-4 col-md-2" hidden>
                  <span class="d-inline-block" data-toggle="tooltip" title="LUA">
                    <img class="img-fluid" src="/skills/lua.png" alt="LUA" style="height: 3rem;">
                  </span>
                </div>
            	-->
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="DART">
                    <img class="img-fluid" src="/skills/dart.png" alt="DART" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="PHP">
                    <img class="img-fluid" src="/skills/php.png" alt="PHP" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="Spring">
                    <img class="img-fluid" src="/skills/spring.png" alt="Spring" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Outils et Technologies</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="GRADLE">
                    <img class="img-fluid" src="/skills/gradle.png" alt="GRADLE">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="GIT">
                    <img class="img-fluid" src="/skills/git.png" alt="GIT">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="Docker">
                    <img class="img-fluid" src="/skills/docker.png" alt="Docker">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="XML">
                    <img class="img-fluid" src="/skills/xml.png" alt="XML">
                  </span>
                </div>
              </div>
              <u><b>Autres Compétences</b></u>
              <ul>
                <li>capacité d'auto-didactie (autodidacte en apprentissage des langues, à commencer à apprendre l'informatique en auto-didacte)</li>
              </ul>
            </div>
            <div class="col">
              <h3>Langues</h3>
              <hr>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100">Français (natif)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100">Anglais (C1)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuemin="0" aria-valuemax="100">Chinois</div>
              </div>
              <i>(V3.0: HSK1, V2.0: HSK2/3)</i>
              <br>
              <h3>Centres d'Interêts</h3>
              <hr>
              <ul>
              <div class="row">
                <div class="col">
                  <li>Conception et développement Logiciel</li>
                  <li>Biologie</li>
                  <li>Découvertes et voyages</li>
                  <li>Recherche en informatique</li>
                </div>
                <div class="col">
                  <li>Apprentissage des langues</li>
                  <li>Histoire, tradition, culture, ... D'Europe et d'Asie</li>
                  <li>Moyen Âge européen, Mythologies</li> 
                </div>
              </div>
            </ul>
            </div>
          </div>

          <br>

        </div>
      </div>
      </main>
{{>footer}}