{{>header}}
        <div class="main-text">
            <h1 class="fade-in">『 A Propos 』</h1>
            <h4 class="lead fade-in-slow">
                ⟨ Mon nom est Eddy ikhlef. Je suis actuellement un étudiant à l'Université des sciences de Luminy. Mon major est l'informatique et je prévois de continuer mes études en master dans les domaines de l'ingenerie des logiciels et données. ⟩
            </h4>
            <br>
            <h1 class="fade-in-slow">『Hobbies et Centres d'Interêts』</h1>
              <div class="row justify-content-center fade-in-slow">
                <div class="col mb-3">
                  <div class="card no-border h-100 w-100">
                    <h5 class="card-header">⟨ amoureux de l'Asie ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Je suis un grand fan du continent asiatique, spéfifiquement de l'Asie du Sud-Est et de l'Est. Depuis petit je suis attiré par leurs cultures, traditions, etc.
                        (J' apprends actuellement le chinois (mandarin) en autodidacte, niveau estimé: HSK2)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card no-border h-100 w-100">
                    <h5 class="card-header">⟨ enthousiaste des ordinateurs ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        J'aime et j'ai toujours aimé tous les sujets autour de l'informatique et j'adore en apprendre de nouveaux pour me garder à jour avec les nouveaux topics.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card no-border h-100 w-100">
                    <h5 class="card-header">⟨ Design/Prototyping Maker ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        J'apprécie réaliser des designs d'interface et de front-end de site internet, ainsi que faire des prototypes de mes idées en code.
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </main>
      </main>
{{>footer}}    