{{>header}}
        <a class="nav-item" href="/cvdownload" target="_blank" style="visibility: hidden;">Download as pdf</a>
        <br>
        <div class="white-page text-left">
          <div class="row header-cv">
            <div class="col w-25">
              <img class="stick-to-bottom" src="/social/face.png">
            </div>
            <div class="col w-75 text-right pt-5 pr-5 pl-5">
                <h2>IKHLEF EDDY</h2>
                <p>Etudiant en informatique - Developpeur</p>
                <br>
                <p>eddy.galdon@gmail.com<br>+33 7 86 96 28 89<br>10/08/2000<br>https://github.com/m-o-k-a</p>
            </div>
          </div>
          <h3>Profil</h3>
          <hr>
          jeune étudiant en informatique à l'université d'Aix-Marseille, Je suis pasionné d'informatique depuis le plus jeune age et j'aspire à m'orienter dans les domaines de l'ingénierie des logiciels et des données.<br>J'ai appris la programmation en autodidacte depuis le lycée.<br>Pasionné par l'Asie, j'apprends sérieusement le Mandarin et ais quelques connaissaces en Japonais, Vietnamien et Coréen.
          <br>
          <h3>Education</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Diplôme de license en informatique</b> 2018-maintenant</li>
                <i>-Première année: major en Maths, Informatique, Physique, Mechanique<br>-Deuxième année: major en Informatique</i>
              </div>
              <div class="col text-right">
                <b>Université d'Aix-Marseille, Campus de Luminy</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Diplôme du bac</b> 2015-2018</li>
                <i>section scientifique, specialité math, option biologie</i>
                <i>bac obtenue avec mention assez bien</i>
              </div>
              <div class="col text-right">
                <b>Lycée Sévigné - Marseille</b>
              </div>
            </div>
          </ul>

          <br>

          <h3>Experience de Travail</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Stage de première année au lycée</b> 06/2017-06/2017</li>
                <i>Stage dans le département informatique de l'entreprise mais aussi dans les autres divers departements.</i>
              </div>
              <div class="col text-right">
                <b>Vialtis - Aix-en-Provence</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Stage de 3eme</b> 06/2016-07/2016</li>
                <i>Developper un prototype de site web pour le cabinet d'avocats, en plus d'en apprendre d'avantage sur la loi.</i>
              </div>
              <div class="col text-right">
                  <b>DELTIN-MANSOURI cabinet d'avocats - Marseille</b>
              </div>
            </div>
          </ul>

          <br>
          <div class="row">
            <div class="col">
              <h3>Compétences</h3>
              <hr>
              <u><b>Front-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="HTML">
                    <img class="img-fluid" src="/skills/html.png" alt="HTML" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="CSS">
                    <img class="img-fluid" src="/skills/css.png" alt="CSS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JS">
                    <img class="img-fluid" src="/skills/js.png" alt="JS" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Back-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA">
                    <img class="img-fluid" src="/skills/java.png" alt="JAVA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="KOTLIN">
                    <img class="img-fluid" src="/skills/kotlin.png" alt="KOTLIN" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="PYTHON">
                    <img class="img-fluid" src="/skills/python.png" alt="PYTHON" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="SQL">
                    <img class="img-fluid" src="/skills/sql.png" alt="SQL" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="NODE.JS">
                    <img class="img-fluid" src="/skills/nodejs.png" alt="NODE.JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="C">
                    <img class="img-fluid" src="/skills/c.png" alt="C" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="LUA">
                    <img class="img-fluid" src="/skills/lua.png" alt="LUA" style="height: 3rem;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <h3>Langues</h3>
              <hr>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100">Français (natif)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100">Anglais (C1)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100">Chinois (HSK2)</div>
              </div>
              <br>
            </div>
          </div>

          <br>

          <h3>Centres d'Interêts</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li>Biologie</li>
                <li>Découvertes et voyages</li>
                <li>recherche en informatique</li>
              </div>
              <div class="col">
                <li>Apprentissage de langues</li>
                <li>Monde Asiatique, Histore, Tradition, Culture, ...</li>
              </div>
            </div>
          </ul>

        </div>
      </main>
{{>footer}}