<!doctype html>
<html lang="en" style="background: white; min-height: 100vh; max-height: 100vh; height: 100vh;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>download cv</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="stylesheet.css" rel="stylesheet">
  </head>
  <body style="background: white; transform: rotate(90deg);" class="download-pdf">
    <div class="text-center container d-flex h-100 p-5 mx-auto flex-column">
      <main role="main" class="inner cover" style="width:134.2%;">
<div class="white-page text-left">
          <div class="row header-cv">
            <div class="col w-75">
              <div class="row">
                <h4 class="pt-1 pl-5" hidden>Stage</h4>
              </div>
              <div class="row">
                <h6 class="pl-5" hidden>Software Engineer ou Data Analyst</h6>
              </div>
              <div class="row">
                <img class="stick-to-bottom cv-image" src="/social/face.png">
              </div>
            </div>
            <div class="col w-75 text-right pt-5 pr-5 pl-5">
                <h2>IKHLEF EDDY</h2>
                <p>Etudiant en informatique - Développeur</p>
                <br>
                <p>eddy.galdon@gmail.com<br>+33 7 86 96 28 89<br>10/08/2000<br>https://github.com/m-o-k-a</p>
            </div>
          </div>
          <h3>Profil</h3>
          <hr>
          jeune étudiant en informatique à l'université d'Aix-Marseille,je suis passionné d'informatique depuis le plus jeune âge et j'aspire à m'orienter dans les domaines de <u>l'ingénierie du logiciels et des données</u>.<br>J'ai appris la programmation en autodidacte à partir du collège.<br>Passionné par l'Asie, j'apprends sérieusement le Mandarin (HSK2/3) et ai quelques connaissances en Japonais, Vietnamien et Coréen.<br>
          Dynamique, sérieux et à l'écoute, je suis toujours prêt à m'adapter et à relever des défis.
          <br>
          <h3>Formation</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Diplôme de licence en informatique</b> 2018-maintenant</li>
                <details>
                  <summary>Première année</summary>
                  <p class="details">Intro à l'informatique (Python) / Mise en œuvre informatique (théorie) / Programmation 1 (Java) / Fonctionnement des ordinateurs / Algèbre linéaire / ...</p>
                </details>
                <details>
                  <summary>Deuxième année</summary>
                  <p class="details">Programmation 2 (Java) / Bases de données (Oracle SQL) / Architecture des ordinateurs / Probabilités / Initiation Génie Logiciel / Programmation C / Web (Front-end et Back-end) / Algorithmique 1 / ...</p>
                </details>
                <details>
                  <summary>Troisième année <i>(en cours)</i></summary>
                  <p class="details">Conception / Bases de données Approfondissement (Oracle SQL) / Systèmes d'exploitation / Compilation / Applications réseaux / Application web (Angular) / Modélisation algorithmique / Algorithmique 2 / ...</p>
                </details>
                <br>
              </div>
              <div class="col text-right">
                <b>Université d'Aix-Marseille, Campus de Luminy</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Diplôme du bac</b> 2015-2018</li>
                <i>section scientifique, specialité maths, option biologie</i>
                <i>bac obtenu avec mention assez bien</i>
              </div>
              <div class="col text-right">
                <b>Lycée Sévigné - Marseille</b>
              </div>
            </div>
          </ul>

          <br>

          <h3>Experience de Travail</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Stage de Seconde</b> 06/2017-06/2017</li>
                <i>Stage dans le département informatique de l'entreprise mais aussi dans les autres divers departements.</i>
              </div>
              <div class="col text-right">
                <b>Vialtis - Aix-en-Provence</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>Stage de Troisième</b> 06/2016-07/2016</li>
                <i>Développer un prototype de site web pour le cabinet d'avocats, en plus d'en apprendre d'avantage sur la loi.</i>
              </div>
              <div class="col text-right">
                  <b>DELTIN-MANSOURI cabinet d'avocats - Marseille</b>
              </div>
            </div>
          </ul>

          <br>
          <div class="row">
            <div class="col">
              <h3>Compétences</h3>
              <hr>
              <u><b>Front-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="HTML">
                    <img class="img-fluid" src="/skills/html.png" alt="HTML" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="CSS">
                    <img class="img-fluid" src="/skills/css.png" alt="CSS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JS">
                    <img class="img-fluid" src="/skills/js.png" alt="JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="BOOTSTRAP">
                    <img class="img-fluid" src="/skills/bootstrap.png" alt="BOOTSTRAP" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="FLUTTER">
                    <img class="img-fluid" src="/skills/flutter.png" alt="FLUTTER" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA FX">
                    <img class="img-fluid" src="/skills/javafx.png" alt="JAVA FX" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Back-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA">
                    <img class="img-fluid" src="/skills/java.png" alt="JAVA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="KOTLIN">
                    <img class="img-fluid" src="/skills/kotlin.png" alt="KOTLIN" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="PYTHON">
                    <img class="img-fluid" src="/skills/python.png" alt="PYTHON" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="SQL">
                    <img class="img-fluid" src="/skills/sql.png" alt="SQL" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="NODE.JS">
                    <img class="img-fluid" src="/skills/nodejs.png" alt="NODE.JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="C">
                    <img class="img-fluid" src="/skills/c.png" alt="C" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="LUA">
                    <img class="img-fluid" src="/skills/lua.png" alt="LUA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="DART">
                    <img class="img-fluid" src="/skills/dart.png" alt="DART" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Outils et Technologies</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="GRADLE">
                    <img class="img-fluid" src="/skills/gradle.png" alt="GRADLE">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="GIT">
                    <img class="img-fluid" src="/skills/git.png" alt="GIT">
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <h3>Langues</h3>
              <hr>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100">Français (natif)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100">Anglais (C1)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100">Chinois (HSK2)</div>
              </div>
              <br>
            </div>
          </div>

          <br>

          <h3>Centres d'Interêts</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li>Biologie</li>
                <li>Découvertes et voyages</li>
                <li>recherche en informatique</li>
              </div>
              <div class="col">
                <li>Apprentissage de langues</li>
                <li>Monde Asiatique, Histore, Tradition, Culture, ...</li>
              </div>
            </div>
          </ul>
        </div>
      </main>
    </div>
  </body>
</html>
