{{>header}}    
          <div class="main-text">
            <h1 class="fade-in">『 Bienvenue 』</h1>
            <h4 class="lead fade-in-slow">
                ⟨ Mon nom est Eddy ikhlef. Je suis actuellement un étudiant à l'Université des sciences de Luminy. Mon major est l'informatique et je prévois de continuer mes études en master dans les domaines de l'ingenerie des logiciels et données. ⟩
            </h4>
            <br><br><br>
        </div>
        <div class="row custom-navbar justify-content-center fade-in-slow">
            <div class="col social-network">
                <a class="social-item" href="https://weibo.com/7211796514/profile" target="_blank"><img class="social-image" src="/social/weibo.png" alt="Weibo"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="https://instagram.com/mokapus/" target="_blank"><img class="social-image" src="/social/instagram.png" alt="Instagram"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="https://github.com/m-o-k-a" target="_blank"><img class="social-image" src="/social/github.png" alt="Github"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="https://www.linkedin.com/in/eddy-ikhlef/" target="_blank"><img class="social-image" src="/social/linkedin.png" alt="Linkedin"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="#" target="_blank"><img class="social-image" src="/social/wechat.png" alt="Wechat"></a>
            </div>
        </div>
      </main>
{{>footer}}    
