{{>header}}
<div class="main-text">
  <h1 class="fade-in">『Logiciels』</h1>
<div id="carouselSoftwares" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSoftwares" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSoftwares" data-slide-to="1"></li>
    <li data-target="#carouselSoftwares" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ ArxivOrg ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Un projet pour Projet: Initiation Génie Logiciel en license 2.
            Nous devions developper depuis zéro un logiciel de syndication de contenu depuis les archives ouvertes de arXiv.
            (équipe avec EUNSUN YUN, JEREMY GAU, YANN FORNER)
          </p>
          <a href="https://github.com/m-o-k-a/arxiv-syndication" class="btn btn-outline-light" target="_blank">Code Source</a>
          <a href="https://drive.google.com/file/d/1ZGbqrTpi9GoOLpuEufMsvbVhRnpAYyU0/view?usp=sharing" class="btn btn-outline-light" target="_blank">Software (exe/jar)</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Dump Paint ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            dumBPaint est un logiciel de dessin simple et utile qui rends tout facile ! Seuleument avec des formes, tailles et couleurs basiques c'est l'heure de montrer vos idées au monde ! 
          </p>
          <a href="https://github.com/m-o-k-a/dumBPaint" class="btn btn-outline-light" target="_blank">Code Source</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ DNA2PROTEINS ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Un simple projet java pour convertir des séquences d'ADN et de protéines de façon simple avec une interface graphique.
          </p>
          <a href="https://github.com/m-o-k-a/DNA2PROTEINS" class="btn btn-outline-light" target="_blank">Code Source</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselSoftwares" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselSoftwares" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
<br>
  <h1 class="fade-in">『Web』</h1>
<div id="carouselWebs" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselWebs" data-slide-to="0" class="active"></li>
    <li data-target="#carouselWebs" data-slide-to="1"></li>
    <li data-target="#carouselWebs" data-slide-to="2"></li>
    <li data-target="#carouselWebs" data-slide-to="3"></li>
    <li data-target="#carouselWebs" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
            <div class="card h-100 w-100">
              <h5 class="card-header">⟨ Go'Act! ⟩</h5>
                <div class="card-body">
                      <p class="card-text">
                        Un projet web lors de la license 2.
                        Nous devions réaliser un site internet avec une contrainte de thème "Rendre le monde meilleur".
                        (équipe avec with EUNSUN YUN)
                      </p>
                      <a href="https://go-act.glitch.me" class="btn btn-outline-light" target="_blank">Site Internet</a>
                      <a href="https://github.com/m-o-k-a/GO-Act" class="btn btn-outline-light" target="_blank">Code Source</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ LmLuminy ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Un site internet simple pour un ami afin d'accéder à tout ses cours de maths et plus encore.
                      </p>
                      <a href="https://lmluminy.glitch.me" class="btn btn-outline-light" target="_blank">Site Internet</a>
                      <footer class="blockquote-footer" style="color: white">Pure</footer>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ LBPP ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Un projet de site internet réaliser lors des travaux pratiques en license 2.
                        Simple site de recettes de cuisines avec node.js et une BDD JSON.
                      </p>
                      <a href="https://bons-petits-plats.glitch.me" class="btn btn-outline-light" target="_blank">Site Internet</a>
                      <a href="https://github.com/m-o-k-a/Les-Bons-Petits-Plats" class="btn btn-outline-light" target="_blank">Code Source</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ MokaChinese ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Site internet simple et facile d'utilisation pour lister le vocabulaire chinois.
                      </p>
                      <a href="https://github.com/m-o-k-a/MokaChinese" class="btn btn-outline-light" target="_blank">Code Source</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ m-o-k-a ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        ancien site perso.
                      </p>
                      <a href="https://github.com/m-o-k-a/m-o-k-a.github.io" class="btn btn-outline-light" target="_blank">Code Source</a>
                      <footer class="blockquote-footer" style="color: white">Pure</footer>
                    </div>
                  </div>
                </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselWebs" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselWebs" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
<br>
  <h1 class="fade-in">『Apps Smartphone』</h1>
<div id="carouselApps" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselApps" data-slide-to="0" class="active"></li>
    <li data-target="#carouselApps" data-slide-to="1"></li>
    <li data-target="#carouselApps" data-slide-to="2"></li>
    <li data-target="#carouselApps" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Xylophone ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Un simple xylophone avec flutter et dart. Appuyer sur les boutons de couleurs pour jouer un des sept sons !
          </p>
          <a href="https://github.com/m-o-k-a/moka_xylophone" class="btn btn-outline-light" target="_blank">Code Source</a>
          <a href="https://drive.google.com/file/d/1Ly7BbEAWyvXGYOjC-MQQoMCC3-ifnNp3/view?usp=sharing" class="btn btn-outline-light" target="_blank">Fat Apk</a>
          <footer class="blockquote-footer" style="color: cyan">Flutter</footer>
        </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Dices ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Une app de jet de dées à Etàt avec flutter et dart, vous pouvez jeter un, deux ou quatres dées.
          </p>
          <a href="https://github.com/m-o-k-a/moka_dices" class="btn btn-outline-light" target="_blank">Code Source</a>
          <a href="https://drive.google.com/file/d/10uaKg0UnAonaIWcetv0Jq78cUq9HvpAv/view?usp=sharing" class="btn btn-outline-light" target="_blank">Fat Apk</a>
          <footer class="blockquote-footer" style="color: cyan">Flutter</footer>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ One Notes ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Une note, pleins de possibilitées. Une application d'écriture qui peut utiliser html (La sauvegarde n'est pas disponible [ne travaille plus dessus])
          </p>
          <a href="https://github.com/m-o-k-a/JAVA/tree/master/Android%20Project/One%20Notes" class="btn btn-outline-light" target="_blank">Code Source</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Easy IMC ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Easy IMC - Mon premier projet android. Un simple calculateur d'imc avec une interface, poids, taille (m ou cm) et resultats avec un code couleur d'indication.
          </p>
          <a href="https://github.com/m-o-k-a/JAVA/tree/master/Android%20Project/easy%20IMC" class="btn btn-outline-light" target="_blank">Code Source</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselApps" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselApps" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
<br>
  <h1 class="fade-in">『Scripts』</h1>
<div id="carouselScripts" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselScripts" data-slide-to="0" class="active"></li>
    <li data-target="#carouselScripts" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Easy Dialogue ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Script pour GameGuru qui permet de faire des dialogues simples.
          </p>
          <a href="https://www.tgcstore.net/product/25569" class="btn btn-outline-light" target="_blank">Page Magasin</a>
          <footer class="blockquote-footer" style="color: blue">Lua</footer>
        </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Simple Quest ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Script pour GameGuru qui permet de faire un simple widget pour afficher la quête en cours.
          </p>
          <a href="https://www.tgcstore.net/product/25804" class="btn btn-outline-light" target="_blank">Page Magasin</a>
          <footer class="blockquote-footer" style="color: blue">Lua</footer>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselScripts" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselScripts" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
</div>
        </main>
      </main>
{{>footer}}    