{{>header}}
        <div class="main-text">
            <h1>『 About Me 』</h1>
            <h4 class="lead">
                ⟨ My name is Eddy ikhlef. I am currently a student at the sciences faculty of Luminy. My major is computer science and I plan to pursue my studies in master degrees in software and data engineering. ⟩
            </h4>
            <br>
            <h1>『Hobbies and Interests』</h1>
              <div class="row justify-content-center">
                <div class="col mb-3">
                  <div class="card no-border h-100 w-100">
                    <h5 class="card-header">⟨ asian lover ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        I am a huge fan of the asian continent, especially the south-east asia. Since young I was attracted by their cultures, traditions, etc.
                        (I am currently learning in self-taught chinese (mandarin), estimated level: HSK2)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card no-border h-100 w-100">
                    <h5 class="card-header">⟨ computer enthousiast ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        I love and always loved all subjetcs related to computer science and I love to learn about them and keep myself up to date with the newest topics.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card no-border h-100 w-100">
                    <h5 class="card-header">⟨ Design/Prototyping Maker ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        I enjoy making design of interface or front-end of website and make prototype from ideas to code.
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </main>
      </main>
      <footer class="mt-auto">
        <div class="inner">
          <a class="nav-item" href="https://github.com/m-o-k-a" target="_blank">2020 - Eddy Ikhlef</a>
        </div>
      </footer>
    </div>
  </body>
</html>
