{{>header}}
        <a class="nav-item" onclick="printCV();">Download [Academic Version]</a>
        <a class="nav-item" onclick="printCVShort();">Download [Short version]</a>
        <br>
        <div id="cv">
        <div class="white-page text-left">
          <div class="row header-cv">
            <div class="col w-75">
              <div class="row">
                <h4 class="pt-1 pl-5" hidden>Internship</h4>
              </div>
              <div class="row">
                <h6 class="pl-5" hidden>Software Engineer or Data Analyst</h6>
              </div>
              <div class="row">
                <img class="stick-to-bottom cv-image pl-3" src="/social/face.png">
              </div>
            </div>
            <div class="col w-75 text-right pt-5 pr-5 pl-5">
                <h2>IKHLEF EDDY</h2>
                <p>Computer Science Student - Developer</p>
                <br>
                <p>eddy.galdon@gmail.com<br>+33 7 86 96 28 89<br>10/08/2000<br>https://eddy-ikhlef.glitch.me<br>https://github.com/m-o-k-a</p>
            </div>
          </div>
          <h3>Profil</h3>
          <hr>
          Passionate of Computer Science and Asian word, Self-taught asian languagues (chinese HSK2/3), Serious, good listener and always ready for challenges
          <br>
          <h3>Education</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Computer Science Licence Diploma</b> 2018-now</li>
                <details open>
                  <summary>Third year <i>(ongoing)</i></summary>
                  <p class="details">Conception / Advanced Databases (Oracle SQL) / Operating Systems / Compilation / Network Applications / Web Application (Angular) / Algorithmic Modeling / Algorithmic 2 / ...</p>
                </details>
                <details open>
                  <summary>Second year</summary>
                  <p class="details">Programming 2 (Java) / Databases (Oracle SQL) / Computer Architecture / Probabilities / Initiation in Software Engineering / C Programming / Web (Front-end and Back-end) / Algorithmic 1 / ...</p>
                </details>
                <details open>
                  <summary>First year</summary>
                  <p class="details">Intro to Computer Science (Python) / Computer Implementation (Theory) / Programming 1 (Java) / Computer Functioning / Linear Algebra / ...</p>
                </details>
                <div class="Simple" hidden="true">
                  <u>Programming:</u> Python, Java, C, Full-Stack Web, SQL (Oracle, sqlite), ASM ARM<br>
                  <u>Theory:</u> Computer Architecture and functioning, Compilation, Advanced algorithms, Networks<br>
                  <u>Maths:</u> Linear Algebra, Probabilities, Calculability, Logic
                </div>
              </div>
              <div class="col text-right">
                <b>Aix-Marseille University, Luminy Campus</b>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <li><b>High School Diploma</b> 2018</li>
                <i>scientific section, math speciality, biology option</i>
              </div>
              <div class="col text-right">
                <b>Sévigné Private High School - Marseille</b>
              </div>
            </div>
          </ul>

          <br>

          <h3>Internships</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Sophomore high-shool Traineeship</b> 06/2017-06/2017</li>
                <i>Internship in the IT department of the company as well as in the various departments.</i>
              </div>
              <div class="col text-right">
                <b>Vialtis - Aix-en-Provence</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>End of middle school Traineeship</b> 06/2016-07/2016</li>
                <i>Developed a prototype website for the Law office, in addition to learning more about how the law work.</i>
              </div>
              <div class="col text-right">
                  <b>DELTIN-MANSOURI law office - Marseille</b>
              </div>
            </div>
          </ul>

          <br>
          <div class="row">
            <div class="col">
              <h3>Competences</h3>
              <hr>
              <u><b>Front-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="HTML">
                    <img class="img-fluid" src="/skills/html.png" alt="HTML" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="CSS">
                    <img class="img-fluid" src="/skills/css.png" alt="CSS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JS">
                    <img class="img-fluid" src="/skills/js.png" alt="JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="BOOTSTRAP">
                    <img class="img-fluid" src="/skills/bootstrap.png" alt="BOOTSTRAP" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="FLUTTER">
                    <img class="img-fluid" src="/skills/flutter.png" alt="FLUTTER" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA FX">
                    <img class="img-fluid" src="/skills/javafx.png" alt="JAVA FX" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Back-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA">
                    <img class="img-fluid" src="/skills/java.png" alt="JAVA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="KOTLIN">
                    <img class="img-fluid" src="/skills/kotlin.png" alt="KOTLIN" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="PYTHON">
                    <img class="img-fluid" src="/skills/python.png" alt="PYTHON" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="SQL">
                    <img class="img-fluid" src="/skills/sql.png" alt="SQL" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="NODE.JS">
                    <img class="img-fluid" src="/skills/nodejs.png" alt="NODE.JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="C">
                    <img class="img-fluid" src="/skills/c.png" alt="C" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="LUA">
                    <img class="img-fluid" src="/skills/lua.png" alt="LUA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="DART">
                    <img class="img-fluid" src="/skills/dart.png" alt="DART" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Tools and Technologies</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="GRADLE">
                    <img class="img-fluid" src="/skills/gradle.png" alt="GRADLE">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="GIT">
                    <img class="img-fluid" src="/skills/git.png" alt="GIT">
                  </span>
                </div>
              </div>
              <u><b>Other Competences</b></u>
              <ul>
                <li>self-taught ability (self-taught in Asian languages, started learning computer science by self-taught)</li>
              </ul>
            </div>
            <div class="col">
              <h3>Langues</h3>
              <hr>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100">French (native)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100">English (C1)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100">Chinese (HSK2)</div>
              </div>
              <br>
              <h3>Interests</h3>
              <hr>
              <ul>
                <div class="row">
                  <div class="col">
                    <li>Biology</li>
                    <li>Discoveries and trips</li>
                    <li>rechearch in computer science</li>
                  </div>
                  <div class="col">
                    <li>Language learning</li>
                    <li>Asian World, History, Tradition, Culture, ...</li>
                  </div>
                </div>
              </ul>
            </div>
          </div>

          <br>

        </div>
      </div>
      </main>
{{>footer}}