{{>header}}
        <a class="nav-item" href="/cvdownload" target="_blank" style="visibility: hidden;">Download as pdf</a>
        <br>
        <div class="white-page text-left">
          <div class="row header-cv">
            <div class="col w-25">
              <img class="stick-to-bottom" src="/social/face.png">
            </div>
            <div class="col w-75 text-right pt-5 pr-5 pl-5">
                <h2>IKHLEF EDDY</h2>
                <p>Computer Science Student - Developer</p>
                <br>
                <p>eddy.galdon@gmail.com<br>+33 7 86 96 28 89<br>10/08/2000<br>https://github.com/m-o-k-a</p>
            </div>
          </div>
          <h3>Profile</h3>
          <hr>
          young computer science student at Aix-Marseille Univeristy, I have been passionate about information technology since youth and I aspire to orient myself towards the fields of software and data engieneering.<br>I started learning self-taught programming since high school.<br>Passionate about Asia, I seriously learn Mandarin by myself and have some knowledge in Japanese, Vietnamese and Korean.
          <br>
          <h3>Education</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Computer Science Licence Diploma</b> 2018-current</li>
                <i>-First Year: majoring in Math, Computer Science, Physics, Mechanics<br>-Second Year: majoring in Computer Science</i>
              </div>
              <div class="col text-right">
                <b>Aix-Marseille University, Luminy Campus</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>High School Diploma</b> 2015-2018</li>
                <i>scientific section, math speciality, biology option</i>
              </div>
              <div class="col text-right">
                <b>Sévigné Highschool - Marseille</b>
              </div>
            </div>
          </ul>

          <br>

          <h3>Work Experience</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li><b>Sophomore high-shool Traineeship</b> 06/2017-06/2017</li>
                <i>Internship in the IT department of the company as well as in the various departments.</i>
              </div>
              <div class="col text-right">
                <b>Vialtis - Aix-en-Provence</b>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <li><b>End of middle school Traineeship</b> 06/2016-07/2016</li>
                <i>Developed a prototype website for the Law office, in addition to learning more about how the law work.</i>
              </div>
              <div class="col text-right">
                  <b>DELTIN-MANSOURI law office - Marseille</b>
              </div>
            </div>
          </ul>

          <br>
          <div class="row">
            <div class="col">
              <h3>Competences</h3>
              <hr>
              <u><b>Front-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="HTML">
                    <img class="img-fluid" src="/skills/html.png" alt="HTML" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="CSS">
                    <img class="img-fluid" src="/skills/css.png" alt="CSS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JS">
                    <img class="img-fluid" src="/skills/js.png" alt="JS" style="height: 3rem;">
                  </span>
                </div>
              </div>
              <u><b>Back-End</b></u>
              <div class="row">
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="JAVA">
                    <img class="img-fluid" src="/skills/java.png" alt="JAVA" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="KOTLIN">
                    <img class="img-fluid" src="/skills/kotlin.png" alt="KOTLIN" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="PYTHON">
                    <img class="img-fluid" src="/skills/python.png" alt="PYTHON" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="SQL">
                    <img class="img-fluid" src="/skills/sql.png" alt="SQL" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="NODE.JS">
                    <img class="img-fluid" src="/skills/nodejs.png" alt="NODE.JS" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="C">
                    <img class="img-fluid" src="/skills/c.png" alt="C" style="height: 3rem;">
                  </span>
                </div>
                <div class="col-4 col-md-2">
                  <span class="d-inline-block" data-toggle="tooltip" title="LUA">
                    <img class="img-fluid" src="/skills/lua.png" alt="LUA" style="height: 3rem;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col">
              <h3>Languages</h3>
              <hr>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100">French (native)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuemin="0" aria-valuemax="100">English (C1)</div>
              </div>
              <br>
              <div class="progress">
                <div class="text-left progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100">Chinese (HSK2)</div>
              </div>
              <br>
            </div>
          </div>

          <br>

          <h3>Interests</h3>
          <hr>
          <ul>
            <div class="row">
              <div class="col">
                <li>Biology</li>
                <li>Discoveries and trips</li>
                <li>rechearch in computer science</li>
              </div>
              <div class="col">
                <li>Language learning</li>
                <li>Asian World, History, Tradition, Culture, ...</li>
              </div>
            </div>
          </ul>

        </div>
      </main>
{{>footer}}