{{>header}}    
          <div class="main-text">
            <h1>『 Welcome 』</h1>
            <h4 class="lead">
                ⟨ My name is Eddy ikhlef. I am currently a student at the sciences faculty of Luminy. My major is computer science and I plan to pursue my studies in master degrees in software and data engineering. ⟩
            </h4>
            <br><br><br>
        </div>
        <div class="row custom-navbar justify-content-center">
            <div class="col social-network">
                <a class="social-item" href="https://weibo.com/7211796514/profile" target="_blank"><img class="social-image" src="/social/weibo.png" alt="Weibo"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="https://instagram.com/mokapus/" target="_blank"><img class="social-image" src="/social/instagram.png" alt="Instagram"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="https://github.com/m-o-k-a" target="_blank"><img class="social-image" src="/social/github.png" alt="Github"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="https://www.linkedin.com/in/eddy-ikhlef/" target="_blank"><img class="social-image" src="/social/linkedin.png" alt="Linkedin"></a>
            </div>
            <div class="col social-network">
                <a class="social-item" href="#" target="_blank"><img class="social-image" src="/social/wechat.png" alt="Wechat"></a>
            </div>
        </div>
      </main>
{{>footer}}    
