{{>header}}
<div class="main-text">
  <h1 class="fade-in">『Softwares』</h1>
<div id="carouselSoftwares" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSoftwares" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSoftwares" data-slide-to="1"></li>
    <li data-target="#carouselSoftwares" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ ArxivOrg ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            This is a project for the Project: software engineering initiation in licence 2.
            We had to develop from scratch a content syndication software from the open arXiv archive.
            (in team with EUNSUN YUN, JEREMY GAU, YANN FORNER)
          </p>
          <a href="https://github.com/m-o-k-a/arxiv-syndication" class="btn btn-outline-light" target="_blank">Source Code</a>
          <a href="https://drive.google.com/file/d/1ZGbqrTpi9GoOLpuEufMsvbVhRnpAYyU0/view?usp=sharing" class="btn btn-outline-light" target="_blank">Software (exe/jar)</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Dump Paint ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            dumBPaint is a simple yet usefull drawing software who keep it simple ! Only w/ basics shapes, sizes and colors it is time to show your idea to the world !
          </p>
          <a href="https://github.com/m-o-k-a/dumBPaint" class="btn btn-outline-light" target="_blank">Source Code</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ DNA2PROTEINS ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Simple java project to convert DNA and Proteins sequences in an easy way with a graphic interface.
          </p>
          <a href="https://github.com/m-o-k-a/DNA2PROTEINS" class="btn btn-outline-light" target="_blank">Source Code</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselSoftwares" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselSoftwares" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
<br>
  <h1 class="fade-in">『Web』</h1>
<div id="carouselWebs" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselWebs" data-slide-to="0" class="active"></li>
    <li data-target="#carouselWebs" data-slide-to="1"></li>
    <li data-target="#carouselWebs" data-slide-to="2"></li>
    <li data-target="#carouselWebs" data-slide-to="3"></li>
    <li data-target="#carouselWebs" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
            <div class="card h-100 w-100">
              <h5 class="card-header">⟨ AMUDames ⟩</h5>
                <div class="card-body">
                      <p class="card-text">
                        AMU dames is an online website to play checkers (Dames) in multiplayer. Featuring a ranking system, be among the best checkers players on AMU dames!
                        The name come from AMU, stands for Aix-Marseille University, our university at the time of this project, and dames, as we call checkers in french. This project was done in 3/4 weeks as the final project of a web app class.
                        (in team with <a href="https://airels.fr" target="_blank">Airels</a>, PIERRARD Kévin, YUN Eunsun)
                      </p>
                      <a class="btn btn-outline-muted" target="_blank">WebApp - Soon</a>
                      <a href="https://github.com/m-o-k-a/AmuDames" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: red">Angular</footer>
                    </div>
                  </div>
    </div>
    <div class="carousel-item col mb-4">
            <div class="card h-100 w-100">
              <h5 class="card-header">⟨ Go'Act! ⟩</h5>
                <div class="card-body">
                      <p class="card-text">
                        A web project for the project WEB in licence 2.
                        We had to make a website with constraint on the theme "Make the World a better place".
                        (in team with EUNSUN YUN)
                      </p>
                      <a href="https://go-act.glitch.me" class="btn btn-outline-light" target="_blank">Webpage</a>
                      <a href="https://github.com/m-o-k-a/GO-Act" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ LmLuminy ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Simple website done for a friend to access all his math courses and more.
                      </p>
                      <a href="https://lmluminy.glitch.me" class="btn btn-outline-light" target="_blank">Webpage</a>
                      <footer class="blockquote-footer" style="color: white">Pure</footer>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ LBPP ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        A web project during practise session in licence 2.
                        Simple recipes website using node.js and a JSON Database.
                      </p>
                      <a href="https://bons-petits-plats.glitch.me" class="btn btn-outline-light" target="_blank">Webpage</a>
                      <a href="https://github.com/m-o-k-a/Les-Bons-Petits-Plats" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ MokaChinese ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Simple and easy to use website project to list chinese vocabulary.
                      </p>
                      <a href="https://github.com/m-o-k-a/MokaChinese" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ m-o-k-a ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Previous personnal website.
                      </p>
                      <a href="https://github.com/m-o-k-a/m-o-k-a.github.io" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: white">Pure</footer>
                    </div>
                  </div>
                </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselApps" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselApps" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselApps" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselApps" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
<br>
  <h1 class="fade-in">『Phone Apps』</h1>
<div id="carouselApps" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselApps" data-slide-to="0" class="active"></li>
    <li data-target="#carouselApps" data-slide-to="1"></li>
    <li data-target="#carouselApps" data-slide-to="2"></li>
    <li data-target="#carouselApps" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Xylophone ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            A simple xylophone app using flutter and dart. (To experiment w/ dart packages and dependencies) Press the colors buttons to play one of the seven sounds !
          </p>
          <a href="https://github.com/m-o-k-a/moka_xylophone" class="btn btn-outline-light" target="_blank">Source Code</a>
          <a href="https://drive.google.com/file/d/1Ly7BbEAWyvXGYOjC-MQQoMCC3-ifnNp3/view?usp=sharing" class="btn btn-outline-light" target="_blank">Fat Apk</a>
          <footer class="blockquote-footer" style="color: cyan">Flutter</footer>
        </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Dices ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            A Stateful Dice App Using Flutter And Dart. You can rolls one, two or four dices.
          </p>
          <a href="https://github.com/m-o-k-a/moka_dices" class="btn btn-outline-light" target="_blank">Source Code</a>
          <a href="https://drive.google.com/file/d/10uaKg0UnAonaIWcetv0Jq78cUq9HvpAv/view?usp=sharing"class="btn btn-outline-light" target="_blank">Fat Apk</a>
          <footer class="blockquote-footer" style="color: cyan">Flutter</footer>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ One Notes ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            A simple note, many possibilites A simple Writing app who can use some html features (Save isn't implemented yet [don't work on this anymore])
          </p>
          <a href="https://github.com/m-o-k-a/JAVA/tree/master/Android%20Project/One%20Notes" class="btn btn-outline-light" target="_blank">Source Code</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Easy IMC ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Easy IMC - My first Android programm A simple IMC calcul interface with weight, size (meters or centimeters) and result with a color to give you an indication.
          </p>
          <a href="https://github.com/m-o-k-a/JAVA/tree/master/Android%20Project/easy%20IMC" class="btn btn-outline-light" target="_blank">Source Code</a>
          <footer class="blockquote-footer" style="color: red">Java</footer>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselApps" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselApps" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
  <h1 class="fade-in">『Scripts』</h1>
<div id="carouselScripts" class="carousel slide fade-in-slow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselScripts" data-slide-to="0" class="active"></li>
    <li data-target="#carouselScripts" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item col mb-4 active">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Easy Dialogue ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Script for GameGuru to make simple dialogues.
          </p>
          <a href="https://www.tgcstore.net/product/25569" class="btn btn-outline-light" target="_blank">Shop Page</a>
          <footer class="blockquote-footer" style="color: blue">Lua</footer>
        </div>
    </div>
    </div>
    <div class="carousel-item col mb-4">
      <div class="card h-100 w-100">
        <h5 class="card-header">⟨ Simple Quest ⟩</h5>
        <div class="card-body">
          <p class="card-text">
            Script for GameGuru to make a simple widget for display the current quest.
          </p>
          <a href="https://www.tgcstore.net/product/25804" class="btn btn-outline-light" target="_blank">Shop Page</a>
          <footer class="blockquote-footer" style="color: blue">Lua</footer>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="carousel-control-prev" href="#carouselScripts" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next" href="#carouselScripts" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
</div>
        </main>
      </main>
{{>footer}}    