{{>header}}
        <div class="main-text">
          <h1>『Software』</h1>
          <div class="row justify-content-center">
            <div class="col mb-4">
              <div class="card h-100 w-100">
                <h5 class="card-header">⟨ ArxivOrg ⟩</h5>
                <div class="card-body">
                  <p class="card-text">
                    This is a project for the Project: software engineering initiation in licence 2.
                    We had to develop from scratch a content syndication software from the open arXiv archive.
                    (in team with EUNSUN YUN, JEREMY GAU, YANN FORNER)
                  </p>
                  <a href="https://github.com/m-o-k-a/ArxivOrg" class="btn btn-outline-light" target="_blank">Source Code</a>
                  <footer class="blockquote-footer" style="color: red">Java</footer>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 w-100">
                <h5 class="card-header">⟨ Dump Paint ⟩</h5>
                <div class="card-body">
                  <p class="card-text">
                    dumBPaint is a simple yet usefull drawing software who keep it simple ! Only w/ basics shapes, sizes and colors it is time to show your idea to the world !
                  </p>
                  <a href="https://github.com/m-o-k-a/dumBPaint" class="btn btn-outline-light" target="_blank">Source Code</a>
                  <footer class="blockquote-footer" style="color: red">Java</footer>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 w-100">
                <h5 class="card-header">⟨ DNA2PROTEINS ⟩</h5>
                <div class="card-body">
                  <p class="card-text">
                    Simple java project to convert DNA and Proteins sequences in an easy way with a graphic interface.
                  </p>
                  <a href="https://github.com/m-o-k-a/DNA2PROTEINS" class="btn btn-outline-light" target="_blank">Source Code</a>
                  <footer class="blockquote-footer" style="color: red">Java</footer>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h1>『Web』</h1>
        <div class="row justify-content-center">
          <div class="col mb-4">
            <div class="card h-100 w-100">
              <h5 class="card-header">⟨ Go'Act! ⟩</h5>
                <div class="card-body">
                      <p class="card-text">
                        A web project for the project WEB in licence 2.
                        We had to make a website with constraint on the theme "Make the World a better place".
                        (in team with EUNSUN YUN)
                      </p>
                      <a href="https://go-act.glitch.me" class="btn btn-outline-light" target="_blank">Webpage</a>
                      <a href="https://github.com/m-o-k-a/GO-Act" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ LmLuminy ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Simple website done for a friend to access all his math courses and more.
                      </p>
                      <a href="https://lmluminy.glitch.me" class="btn btn-outline-light" target="_blank">Webpage</a>
                      <footer class="blockquote-footer" style="color: white">Pure</footer>
                    </div>
                  </div>
                </div>
                  <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ LBPP ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        A web project during practise session in licence 2.
                        Simple recipes website using node.js and a JSON Database.
                      </p>
                      <a href="https://bons-petits-plats.glitch.me" class="btn btn-outline-light" target="_blank">Webpage</a>
                      <a href="https://github.com/m-o-k-a/Les-Bons-Petits-Plats" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ MokaChinese ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Simple and easy to use website project to list chinese vocabulary.
                      </p>
                      <a href="https://github.com/m-o-k-a/MokaChinese" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: green">Node.js</footer>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-4">
                  <div class="card h-100 w-100">
                    <h5 class="card-header">⟨ m-o-k-a ⟩</h5>
                    <div class="card-body">
                      <p class="card-text">
                        Previous personnal website.
                      </p>
                      <a href="https://github.com/m-o-k-a/m-o-k-a.github.io" class="btn btn-outline-light" target="_blank">Source Code</a>
                      <footer class="blockquote-footer" style="color: white">Pure</footer>
                    </div>
                  </div>
                </div>
            </div>

        </main>
      </main>
{{>footer}}    